[*.cs]

# CA1707: Идентификаторы не должны содержать символы подчеркивания
dotnet_diagnostic.CA1707.severity = none

# CA2211: Поля, не являющиеся константами, не должны быть видимыми
dotnet_diagnostic.CA2211.severity = none
